<div class="grid_8 body_height top_pad page_body">
    <div class="page_title"><%= @site_content.title %></div>
    <%= raw(nl2br(@site_content.body)) %>
</div>

<div class="grid_3 top_pad ui-widget ui-widget-content ui-corner-all page_menu">
    <a href="/page/<%=@parent_content.id%>"><%= @parent_content.title %></a><br/>
    <% for child in @child_content %>
        <a href="/page/<%=child.id%>"><%= child.title %></a><br/>
    <% end %>
</div>
